{% extends 'base.html.twig' %}

{% block title %}New Bet
{% endblock %}

{% block body %}
	<h1>Create new Bet</h1>
	<div id="betPostForm">
		<app></app>
        
   </div>

		 {{ include('bet/_form.html.twig') }}

	
	{# <button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }} #}

	<a href="{{ path('bet_index') }}">back to list</a>
{% endblock %}